BatCheese.Data/Connected Services/CommunicationCachingService/CommunicationCachingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KnowledgeLake.Index.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnowledgeLake.Index.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scdev2:8010/CommunicationCachingService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IndexWebIdentifier">
    <xs:sequence>
      <xs:element name="_x003C_SiteId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_SiteUrl_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WebId_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexWebIdentifier" nillable="true" type="tns:IndexWebIdentifier" />
</xs:schema>